<!DOCTYPE html>
<html>
<head>
    <title>RUshopping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="flex-container">
        <button>Home</button>
        <button> Cost Application</button>
        <button> About Us</button>
    </div>
    <div class ="home-page">
        <div class="intro"> Introduction </div>
        <div class="normaltext"> You want to buy ingredients, though you don't know how much would it cost you? We got it!</div>
        <img src="https://raw.githubusercontent.com/JashP26/HackRUSpring2025/refs/heads/main/Hack%20Logo.png" alt="ShopRite" width="100%" height="100%">
        <div class="normaltext"> Our project is based on ShopRite database to give you wonderful suggestions for your meal. What you need to do is only 
            put in your idea and your budget, the rest is on us!
        </div>
        <div class="itemsubmit">
        <form method="POST" >
            <label for="script">What ingredient do you want to buy?</label>
            <input type="text" name="name">
        </form>
        <form method="POST">
            <label for="script"> What is your budget?</label>
            <input type="text" name="name">
        </form>
        <form method="POST" >
            <label for="script">How much of the ingredient do you want to buy?</label>
            <input type="text" name="name">
        </form>
        <button type="submit">Submit</button>
        </div>
        <div class="listitem">
            <div class="intro">List</div>
            <table>
                <tr>
                    <th>Items</th>
                    <th>Prices</th>
                </tr>
                {{% for piece in data %}}
                <tr>
                    <td>{{ piece["item"] }}</td>
                    <td>{{ piece["price"] }}
                    </td>
                </tr>
                {{% endfor %}}
                
            </table>
            <div class="history">
                Latest Update to List: {{ action }}
            </div>
        </div>

    </div>
    
</body>
</html>