{% extends 'base.html' %}

{% block head %}
<title>Shopping List</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"><img src="https://raw.githubusercontent.com/JashP26/HackRUSpring2025/refs/heads/main/ListPlusLogo.png"></h1>
    <h2 style="text-align: center">You are on budget!</h1>

    <div class="form">
        <form action="/budget" method="POST">
            <input type="text" name="budget" id="ibudget" required>
            <input type="submit" value="Update Budget">
        </form>
    </div>

    {% if goods|length == 0 %}
        <h4 style="text-align: center">Add an item!</h4>
    {% else %}
        <table>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {% for good in goods %}
                <tr>
                    <td>{{ good.item }}</td>
                    <td>{{ good.quantity }}</td>
                    <td>{{ good.price * good.quantity}}</td>
                    <td>{{ good.datecreated.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <a href="/delete/{{good.item_number}}">Delete</a>
                        <br>
                        <a href="/update/{{good.item_number}}">Update</a>
                        <br>
                        <a href="/speak/{{good.item_number}}">Speak</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="item" id="item" placeholder="Item Name" required>
            <input type="number" name="quantity" id="quantity" placeholder="Quantity" required>
            <input type="number" step="0.01" name="price" id="price" placeholder="Price" required>
            <input type="submit" value="Add Item">
        </form>
    </div>

    <div class="form">
        <form action="/language" method="post">
            <label for="question" class="language_label" style="font-family: Verdana;">What language would you prefer?</label>
            <select name="language" id="question" multiple class="language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="vi">Vietnamese</option>
            <option value="zh-CN">Mandarin</option>
            </select>       
            <button type="submit" class="languagesubmit">Change Language</button>      
        </form>
</div>
{% endblock %}